<!DOCTYPE html>
<html>
  <head>
    <title> LET'S PLAY! </title>
  </head>
  <body>
    <div>
      <% @poster_list.posters.each do |poster| %>
        <div>
          <img src="<%= poster %>" alt="no_image" heigh="42" width="42" >
        </div>
      <% end %>
    </div>
  </body>
</html>
